﻿@{
    ViewBag.Title = "OTT Graph";
}

<div class="col-xs-12 col-sm-9">
    <div  id="graphView" style="border: solid 5px #eee; width:800px; height:400px"></div>
</div>
<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
    <h3>Find shortes way:</h3>
    <form id="findPathForm">
        <div class="form-group">
            <label for="startNodeId">Start node ID:</label>
            <input type="text" class="form-control" name="startNodeId">
        </div>
        <div class="form-group">
            <label for="targetNodeId">Target node ID:</label>
            <input type="text" class="form-control" name="targetNodeId">
        </div>
        <button type="submit" class="btn btn-default">Find</button>
    </form>
    <br/>
    <button class="btn btn-default" id="reset">Reset paths</button>
</div>

<script>   
    $(document).ready(function () {
        loadGraphData();
        bindPathFindSubmit();
        $("#reset").click(function () {
            resetNodesColorToBasic();
        });
    });
</script>
